h1 {
    color: #5a6a7a;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;


}
h2 {
    color: #5a6a7a;
    margin-top: 25px;      /* Больше отступ сверху для разделения от предыдущего блока */
    margin-bottom: 8px;    /* Маленький отступ снизу — H2 близко к P */
    margin-left: 25px;
    margin-right: 25px;
}

h3, h4 {
    color: #5a6a7a;
    margin-top: 25px;      /* Больше отступ сверху для разделения от предыдущего блока */
    margin-bottom: 8px;    /* Маленький отступ снизу — H2 близко к P */
    margin-left: 25px;
    margin-right: 25px;
}
p {
    color: #5a6a7a;
    margin-top: 0;         /* Нет отступа сверху — P сразу под H2 */
    margin-bottom: 20px;   /* Отступ снизу P до следующего H2 */
    margin-left: 30px;
    margin-right: 30px;
}

.qr-group {
  margin: 10px;
  display: flex;
  gap: 24px;         /* расстояние между двумя QR */
  justify-content: center; /* выравнивание по центру по горизонтали */
}

.qr {
  width: 200px;       /* или 180px/220px — подбери под себя */
  height: 200px;
  border-radius: 12px;
  margin: 10px
}